.cicle{
    position: absolute;
    border: 1px solid black;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    flex-direction: column;
}

.circle-order{
    font-size: 0.7rem;
}

.remaining-time{
    font-size: 0.7rem;
}

.selected{
    background: rgb(255, 128, 0);
}

.remaintim-time-on_selected{
    color: white;
}


@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.fade-out{
    animation: fadeOut 1s ease-in-out;
    animation-fill-mode: forwards;
}